@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://fastly.picsum.photos/id/802/1920/1089.jpg?hmac=9rh9TQKJn1skiVMmdMXGS5uABkA3FfIo-3PG_bSHN_I");
}

.bigger-box {
    background-color: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    color: white;
    width: 95%;
    max-width: 450px;
}

.city-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 100px);
}

.btn-search {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-search {
    width: 20px;
}

.medium-box {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
}

.smaller-box {
    text-transform: capitalize;
    display: flex;
    align-items: center;
}